#app {
  padding-top: 1rem;

  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.15rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h2,
  h2 a {
    color: #333;
  }
  .vue-logo {
    height: 1.5rem;
  }
}

header {
  margin-bottom: 1rem;
}

.app-cookie {
  .Cookie--base {
    .Cookie__buttons {
      .Cookie__button {
        background-color: #007bff;
      }
    }
  }
}
